p1
{
    height: 42px;
    border: solid 0.5px red;
}
p2
{
    height: 42px;
    border: solid 0.5px red;
}
p3
{
    height: 42px;
    border: solid 0.5px red;
}
p4
{
    height: 42px;
    border: solid 0.5px red;
}
p5
{
    height: 42px;
    border: solid 0.5px red;
}
p6
{
    height: 42px;
    border: solid 0.5px red;
}
